* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
/* 1st navbar */
.navbar {
    height: 60px;
    width: 100vw;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text{
    height: inherit;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* icon */
.text i{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    background-color: #2a2a2a;
}
.myIcon{
    font-size: 14px;
    font-weight: bold;
}

/* Space */
.space{
    width: 35%;
    height: inherit;
}

/* number */
.number{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}
.green{
    color: greenyellow;
}

/* button */
.btnCall{
    height: 30px;
    width: 10%;
    background-color: greenyellow;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}